{% include "inventory/navbar.html" %}
{%load static%}

<head>
    {% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'menu.css' %}">
    {% endblock %}
</head>

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchase List</title>
</head>
<body>
    <div class='main'>
    <table>
        <thead>
            <tr>
                <th>Menu Item</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {% for purchase in purchases %}
            <tr>
                <td>{{ purchase.menu_item.title }}</td>
                <td>{{ purchase.timestamp }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>

{% endblock %}