body {
    background: linear-gradient(to right, #5db563, #ff5e62);
    height: 100vh;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #ff5e62;
}
